{%- capture iri -%}<{{include.iri}}>{%- endcapture -%}
{%- assign cardResource = iri | rdf_get -%}
<div
    class="card"
    id="{{ cardResource.iri | md5}}"
    >
    <div class="card-header">
        <h4 class="card-title">{% include label.html iri = cardResource.iri %}</h4>
        <p><small class="text-muted">{{ cardResource.iri }}</small></p>
        <nav
            class="nav nav-tabs card-header-tabs"
            id="{{ cardResource.iri | md5}}-nav"
            role="tablist">
            <a
                href="#{{ cardResource.iri | md5}}-description"
                class="nav-item nav-link active"
                aria-selected="true"
                data-toggle="tab"
                role="tab">Description</a>
            <a
                href="#{{ cardResource.iri | md5}}-annotations"
                class="nav-item nav-link"
                aria-selected="false"
                data-toggle="tab"
                role="tab">Annotations</a>
            <a
                href="#{{ cardResource.iri | md5}}-relations"
                id="{{ cardResource.iri | md5}}-tab-relations"
                class="nav-item nav-link"
                aria-selected="false"
                data-toggle="tab"
                role="tab">Relations</a>
        </nav>
    </div>
    <div
        id="{{ cardResource.iri | md5}}-tab-content"
        class="tab-content card-body">
        <div
            id="{{ cardResource.iri | md5}}-description"
            class="card-text tab-pane fade show active"
            role="tabpanel">
            <p>
            {{ cardResource | rdf_property: 'rdfs:comment', 'en'}}
            </p>
            <dl>
                {%- assign literal = cardResource | rdf_property: 'dct:description', 'en' -%}
                {%- if literal -%}
                <dt>description</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign literal = cardResource | rdf_property: 'skos:scopeNote', 'en' -%}
                {%- if literal -%}
                <dt>scope</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign literal = cardResource | rdf_property: 'skos:definition', 'en' -%}
                {%- if literal -%}
                <dt>definition</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

            </dl>
        </div>
        <div
            id="{{ cardResource.iri | md5}}-annotations"
            class="card-text tab-pane fade"
            role="tabpanel">
            <dl>
                {%- assign literal = cardResource | rdf_property: 'skos:note', 'en' -%}
                {%- if literal -%}
                <dt>has note</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign literal = cardResource | rdf_property: 'skos:editorialNote', 'en' -%}
                {%- if literal -%}
                <dt>has editorial note</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign literal = cardResource | rdf_property: 'skos:changeNote', 'en' -%}
                {%- if literal -%}
                <dt>has change note</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign literal = cardResource | rdf_property: 'skos:historyNote', 'en' -%}
                {%- if literal -%}
                <dt>has history note</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign literal = cardResource | rdf_property: 'vs:term_status' -%}
                {%- if literal -%}
                <dt>has status</dt>
                <dd>{{- literal -}}</dd>
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_property: 'dct:created', nil, true -%}
                {%- if resultset -%}
                <dt>was created at</dt>
                {%- for date in resultset -%}
                <dd>{{- date -}}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_property: 'dct:modified', nil, true -%}
                {%- if resultset -%}
                <dt>was modified at</dt>
                {%- for date in resultset -%}
                <dd>{{- date -}}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_property: 'skos:example', nil, true -%}
                {%- if resultset -%}
                <dt>example values</dt>
                {%- for literal in resultset -%}
                <dd>{{- literal -}}</dd>
                {%- endfor -%}
                {%- endif -%}
            </dl>
        </div>
        <div
            id="{{ cardResource.iri | md5}}-relations"
            class="card-text tab-pane fade"
            role="tabpanel">
            <dl>
                {%- assign resultset = cardResource | rdf_inverse_property: 'rdfs:subClassOf', true -%}
                {%- if resultset -%}
                <dt>has sub-classes</dt>
                {%- for resourceIri in resultset -%}
                <dd>{%- include internal-link.html iri = resourceIri -%}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_property: 'rdfs:subClassOf', nil, true -%}
                {%- if resultset -%}
                <dt>has super-classes</dt>
                {%- for resourceIri in resultset -%}
                <dd>{%- include internal-link.html iri = resourceIri -%}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_inverse_property: 'rdfs:domain', true -%}
                {%- if resultset -%}
                <dt>is in domain of</dt>
                {%- for resourceIri in resultset -%}
                <dd>{%- include internal-link.html iri = resourceIri -%}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_inverse_property: 'rdfs:range', true -%}
                {%- if resultset -%}
                <dt>is in range of</dt>
                {%- for resourceIri in resultset -%}
                <dd>{%- include internal-link.html iri = resourceIri -%}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_property: 'rdfs:domain', nil, true -%}
                {%- if resultset -%}
                <dt>has domain</dt>
                {%- for resourceIri in resultset -%}
                <dd>{%- include internal-link.html iri = resourceIri -%}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign resultset = cardResource | rdf_property: 'rdfs:range', nil, true -%}
                {%- if resultset -%}
                <dt>has range</dt>
                {%- for resourceIri in resultset -%}
                <dd>{%- include internal-link.html iri = resourceIri -%}</dd>
                {%- endfor -%}
                {%- endif -%}

                {%- assign rdfsIsDefinedBy = cardResource | rdf_property: 'rdfs:isDefinedBy' -%}
                {%- if rdfsIsDefinedBy -%}
                <dt>is defined by</dt>
                <dd>{{- rdfsIsDefinedBy -}}</dd>
                {%- endif -%}
            </dl>
        </div>
    </div>
    <div class="card-footer">
        {%- assign dctModified = cardResource | rdf_property: 'dct:modified' -%}
        {%- if dctModified -%}
        <small class="text-muted">Modified: {{- dctModified -}}</small>
        {%- endif -%}
        {%- assign dctCreated = cardResource | rdf_property: 'dct:created' -%}
        {%- if dctCreated -%}
        <small class="text-muted">Created: {{- dctCreated -}}</small>
        {% endif -%}
        {%- assign vsTermStatus = cardResource | rdf_property: 'vs:term_status' -%}
        {%- if vsTermStatus -%}
        <small class="text-muted">Status: {{- vsTermStatus -}}</small>
        {%- endif -%}
    </div>
</div>
