<nav class="col-sm-3 col-md-2 col-lg-3 col-xl-3 d-none d-sm-block bg-light"
style="position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;">
    <form class="bd-search d-flex align-items-center">
        <input
          type="search"
          class="form-control ds-input"
          id="search-input"
          placeholder="Search..."
          autocomplete="off"
          spellcheck="false"
          role="combobox"
          dir="auto"
          onkeyup="searchInList()"
          />
    </form>

    <ul class="nav nav-pills flex-column" id="search-list">
        {% for result in classesResultset %}
            <li class="nav-item">
                <a class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
        {% for result in objectPropertiesResultset %}
            <li class="nav-item">
                <a class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
        {% for result in datatypePropertiesResultset %}
            <li class="nav-item">
                <a class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
    function searchInList() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('search-input');
      filter = input.value.toUpperCase();
      ul = document.getElementById("search-list");
      li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>
</nav>
