<nav class="col-sm-3 col-md-2 col-lg-3 col-xl-3 d-none d-sm-block bg-light"
style="position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;">
    <form class="bd-search d-flex align-items-center">
        <input
          type="search"
          class="form-control ds-input"
          id="search-input"
          placeholder="Search..."
          autocomplete="off"
          spellcheck="false"
          role="combobox"
          dir="auto"
          onkeyup="searchInList()"
          />
    </form>

    <ul class="nav nav-pills flex-column" id="search-list">
        {% for result in classesResultset %}
            {%- if forloop.first %}
            <li class="list-group-item list-group-item-dark disabled"><div class="fw-bold">Classes</div></li>
            {% endif -%}
            <li class="nav-item">
                <a search-string="class" class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
        {% for result in rdfPropertiesResultset %}
            {%- if forloop.first %}
            <li class="list-group-item list-group-item-dark disabled"><div class="fw-bold">RDF Properties</div></li>
            {% endif -%}
            <li class="nav-item">
                <a search-string="rdf property" class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
        {% for result in objectPropertiesResultset %}
            {%- if forloop.first %}
            <li class="list-group-item list-group-item-dark disabled"><div class="fw-bold">Object Properties</div></li>
            {% endif -%}
            <li class="nav-item">
                <a search-string="object property" class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
        {% for result in datatypePropertiesResultset %}
            {%- if forloop.first %}
            <li class="list-group-item list-group-item-dark disabled"><div class="fw-bold">Datatype Properties</div></li>
            {% endif -%}
            <li class="nav-item">
                <a search-string="datatype proeprty" class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
        {% for result in namedIndividualsResultset %}
            {%- if forloop.first %}
            <li class="list-group-item list-group-item-dark disabled"><div class="fw-bold">Named Individuals</div></li>
            {% endif -%}
            <li class="nav-item">
                <a search-string="named individual" class="nav-link" href="#id-{{ result.subject.iri | md5 }}">
                    {% include label.html iri = result.subject.iri %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
    function searchInList() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('search-input');
      filter = input.value.toUpperCase();
      ul = document.getElementById("search-list");
      li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a != undefined) {
            txtValue = a.textContent || a.innerText;
            txtValue = txtValue + a.getAttribute("search-string");
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            } else {
            li[i].style.display = "none";
            }
        }
      }
    }
    </script>
</nav>
