<div class="jumbotron">
  <h1 class="display-3">{% include label.html iri = page.rdf.iri %}</h1>
  <p class="lead subtitle">{{ page.rdf | rdf_property: 'dbo:subtitle', 'en' }}</p>
  <p class="lead">{{ page.rdf | rdf_property: 'rdfs:comment', 'en' }}</p>
  <hr class="my-4">
  <p>
    <dl>
        {%- assign owlVersionInfo = page.rdf | rdf_property: 'owl:versionInfo' -%}
        {%- if owlVersionInfo -%}
        <dt>Version</dt>
        <dd>{{- owlVersionInfo -}}</dd>
        {%- endif -%}
        {%- assign dctcreated = page.rdf | rdf_property: 'dct:created' -%}
        {%- if dctcreated -%}
        <dt>Created</dt>
        <dd>{{- dctcreated -}}</dd>
        {%- endif -%}
        {%- assign dctmodified = page.rdf | rdf_property: 'dct:modified' -%}
        {%- if dctmodified -%}
        <dt>Modified</dt>
        <dd>{{- dctmodified -}}</dd>
        {%- endif -%}
        {%- assign dctcreators = page.rdf | rdf_property: 'dct:creator', nil, true -%}
        {%- if dctcreators.first -%}
        {%- if dctcreators.size > 1 -%}
        <dt>Creators</dt>
        {%- else -%}
        <dt>Creator</dt>
        {%- endif -%}
        <dd>
        {%- for dctcreator in dctcreators -%}
        {%- if dctcreator.iri -%}
        <a href="{{- dctcreator.iri -}}">{%- include label.html iri = dctcreator.iri -%}</a>
        {%- else -%}
        {{- dctcreator -}}
        {%- endif -%}
        {%- unless forloop.last -%}, {% endunless -%}
        {%- endfor -%}
        </dd>
        {%- endif -%}
        {%- assign vannPreferredNamespacePrefix = page.rdf | rdf_property: 'vann:preferredNamespacePrefix' -%}
        {%- if vannPreferredNamespacePrefix -%}
        <dt>Preferred Namespace Prefix</dt>
        <dd>{{- vannPreferredNamespacePrefix -}}</dd>
        {%- endif -%}
        {%- assign vannPreferredNamespaceUri = page.rdf | rdf_property: 'vann:preferredNamespaceUri' -%}
        {%- if vannPreferredNamespaceUri -%}
        <dt>Preferred Namespace URI</dt>
        <dd>{{- vannPreferredNamespaceUri -}}</dd>
        {%- endif -%}
    </dl>
  </p>
  <hr class="my-4">
  <p>
  {% for result in countClassResultSet %}
    <a class="btn btn-primary btn-lg" href="#classes" role="button">
        Classes
        <span class="badge badge-light">{{ result.classes}}</span>
    </a>
  {% endfor %}
  {% for result in countObjectPropertiesResultSet %}
    <a class="btn btn-primary btn-lg" href="#objectProperties" role="button">
        Object Properties
        <span class="badge badge-light">{{ result.objectProperties}}</span>
    </a>
  {% endfor %}
  {%- for result in countDatatypePropertiesResultSet -%}
    <a class="btn btn-primary btn-lg" href="#datatypeProperties" role="button">
        Datatype Properties
        <span class="badge badge-light">{{ result.datatypeProperties }}</span>
    </a>
  {%- endfor -%}
  </p>
</div>
