---
layout: default
rdf_prefix_path: "_data/prefixes.pref"
---
{% assign classesQuery = '
    SELECT DISTINCT ?subject
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (owl:Class, rdfs:Class) )
        FILTER isIRI(?subject)
    }
    ORDER BY ?label' %}
{% assign classesResultset = page.rdf | sparql_query: classesQuery %}

{% assign countClassQuery = '
    SELECT DISTINCT (COUNT(?subject) as ?classes)
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (owl:Class, rdfs:Class) )
        FILTER isIRI(?subject)
    }
    ' %}
{% assign countClassResultSet = page.rdf | sparql_query: countClassQuery %}

{% assign rdfPropertiesQuery = '
    SELECT DISTINCT ?subject
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (rdf:Property) )
        FILTER NOT EXISTS { ?subject a ?owlPropertyClass .
        FILTER ( ?owlPropertyClass IN ( owl:ObjectProperty , owl:DatatypeProperty ) )}
        FILTER isIRI(?subject)
    }
    ORDER BY ?label' %}
{% assign rdfPropertiesResultset = page.rdf | sparql_query: rdfPropertiesQuery %}

{% assign countRdfPropertiesQuery = '
    SELECT DISTINCT (COUNT(?subject) as ?rdfProperties)
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (rdf:Property) )
        FILTER NOT EXISTS { ?subject a ?owlPropertyClass .
        FILTER ( ?owlPropertyClass IN ( owl:ObjectProperty , owl:DatatypeProperty ) )}
        FILTER isIRI(?subject)
    }
    ' %}
{% assign countRdfPropertiesResultSet = page.rdf | sparql_query: countRdfPropertiesQuery %}

{% assign objectPropertiesQuery = '
    SELECT DISTINCT ?subject
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (owl:ObjectProperty) )
        FILTER isIRI(?subject)
    }
    ORDER BY ?label' %}
{% assign objectPropertiesResultset = page.rdf | sparql_query: objectPropertiesQuery %}

{% assign countObjectPropertiesQuery = '
    SELECT DISTINCT (COUNT(?subject) as ?objectProperties)
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (owl:ObjectProperty) )
        FILTER isIRI(?subject)
    }
    ' %}
{% assign countObjectPropertiesResultSet = page.rdf | sparql_query: countObjectPropertiesQuery %}

{% assign datatypePropertiesQuery = '
    SELECT DISTINCT ?subject
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (owl:DatatypeProperty) )
        FILTER isIRI(?subject)
    }
    ORDER BY ?label' %}
{% assign datatypePropertiesResultset = page.rdf | sparql_query: datatypePropertiesQuery %}

{% assign countDatatypePropertiesQuery = '
    SELECT DISTINCT (COUNT(?subject) as ?datatypeProperties)
    WHERE
    {
        ?subject a ?class .
        FILTER ( ?class IN (owl:DatatypeProperty) )
        FILTER isIRI(?subject)
    }
    ' %}
{% assign countDatatypePropertiesResultSet = page.rdf | sparql_query: countDatatypePropertiesQuery %}

{% for result in countClassResultSet %}
{% assign countClass = result.classes | plus: 0 %}
{% endfor %}
{% for result in countRdfPropertiesResultSet %}
{% assign countRdfProperties = result.rdfProperties | plus: 0 %}
{% endfor %}
{% for result in countObjectPropertiesResultSet %}
{% assign countObjectProperties = result.objectProperties | plus: 0 %}
{% endfor %}
{% for result in countDatatypePropertiesResultSet %}
{% assign countDatatypeProperties = result.datatypeProperties | plus: 0 %}
{% endfor %}

<div class="container-fluid">
  <div class="row">
      {% include navigation.html iri = result.subject.iri %}

      <main role="main" class="container col-sm-9 col-md-10 col-lg-8 col-xl-7">
      {% include ontology-head.html iri = result.subject.iri %}

      <h2 id="classes">Overview</h2>
      {% for result in classesResultset %}
        {%- if forloop.first %}
        <h2 id="classes">Classes</h2>
        {% endif -%}
          <p>{% include class-card.html iri = result.subject.iri %}</p>
      {% endfor %}

      {% for result in rdfPropertiesResultset %}
        {%- if forloop.first %}
        <h2 id="rdfProperties">RDF Properties</h2>
        {% endif -%}
          <p>{% include class-card.html iri = result.subject.iri %}</p>
      {% endfor %}

      {% for result in objectPropertiesResultset %}
        {%- if forloop.first %}
        <h2 id="objectProperties">Object Properties</h2>
        {% endif -%}
          <p>{% include class-card.html iri = result.subject.iri %}</p>
      {% endfor %}

      {% for result in datatypePropertiesResultset %}
        {%- if forloop.first %}
        <h2 id="datatypeProperties">Datatype Properties</h2>
        {% endif -%}
          <p>{% include class-card.html iri = result.subject.iri %}</p>
      {% endfor %}

      </main>

      {% comment %} {% include links.html iri = page.rdf.iri %} {% endcomment %}
  </div>
</div>
